<?xml version="1.0"?>

<model>
  <name>GPG3(gopi5go_dave)</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>slowrunner</name>
    <email>slowrunner@noreply.github.com</email>
  </author>

  <description>
    GPG3 GoPi5Go-Dave Robot with Minion Dave, LIDAR, OAK-D-W camera, and IMU on GoPiGo3 platform
  </description>
</model>
